@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//variable
$white-color: #FFFFFF;
$red-color: #FF0000;
$vertical-bar: #E2E2E2;

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body {
    background-image: url("/images/overlay.svg"),url("/images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue';


}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    max-height: 1024px;
}
.container {
    max-width: 1244px;
    padding: 0 98px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;

    &-logo {
        width: 120.25px;
        height: 32px;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        height: 24px;
        width: 471px;
    }

    &-menu-item {
        a.header-active {
          color: red 
        }
      
    }
   

    &-menu-link {
        font-size: 21px;
        font-weight: bold;
        color: $white-color;
        
    }

    &-btn-started {
        width: 168px;
        height: 56px;
        background-color: $red-color;
        border: none;
        color: $white-color;
        font-size: 21px;
        font-weight: bold;
        font-family: "Bebas Neue";
        cursor: pointer;
    }

}

.color-red {
    color: $red-color;
}
.banner {
    display: flex;
    &-left {
        z-index: 10;
    }
    &-slogan {
        margin-top: 120px;
        width: 598px;
        height: 238px;
       
    }
    &-heading {
        font-size:122px;
        line-height: 136px;
        font-weight: bold;
        color: $white-color;
    }
    &-desc {
        width: 660px;
        height: 48px;
        margin-top: 32px;
        z-index: 1000;
    }
    &-text {
        color: $white-color;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        font-family: 'Poppins';
    }
    &-button {
        margin-top: 56px;
    }
    &-btn-join {
        width: 173px;
        height: 72px;
        border-radius: 0px;
        color: $red-color;
        font-size: 21px;
        font-weight: bold;
        background-color: transparent;
        font-family: "Bebas Neue";
        border: 1px solid $red-color;
        line-height: 24px;
        cursor: pointer;
    }
    
    &-image {
        top:109px;
        left: 625px;
        z-index: 1;
        position: absolute;
        // transform: scale(100%);
        width: 602px;
        height: 888px;
    }
  
    &-info {
        display: flex;
        z-index: 1;
        margin-top: 82.5px;
        margin-bottom: 207.5px;
    }
    &-info-1 {
        width: 154px;
        height: 80px;
    }
    &-info-2 {
        width: 111px;
        height: 80px;
    }
    &-info-3 {
        width: 134px;
        height: 80px;
    }
    &-info-title {
        color: $white-color;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        font-family: 'Poppins';

    }
    &-info-desc {
        text-align: center;
        color: $red-color;
        font-weight: 700;
        font-size: 50px;
        line-height: 56px;
    }

    &-heading2 {
        width: 605px;
        height: 431px;
        margin-right: 98px;
        margin-top:67px;
        top:0;
        right: 0;
        position: absolute;
    }


    &-transparent-text {
        font-size: 154px;
        letter-spacing: 26px;
        color: transparent;
        font-family: 'Poppins';
        text-align: right;
        font-weight: 900;
        line-height: 231px;
        -webkit-text-stroke:2px $white-color;

    }
}

.vertical-bar {
    background-color: $vertical-bar;
    height: 80px;
    width: 1px;
    margin: 0 40px;
}

