.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    border-bottom: 1px solid $bar-color;
    padding: 0 98px;
    z-index: 100;
    position: relative;

    &-logo {
        width: 120.25px;
        height: 32px;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        list-style: none;
        height: 24px;
        gap: 40px;
    }

    &-menu-item {
        a.header-active {
            color: $red-color;
        }
    }

    &-menu-link {
        display: block;
        font-size: 21px;
        font-weight: 400;
        color: $white-color;
        line-height: 24px;
        font-family: 'Bebas Neue';
        font-style: normal;
        height: 24px;
    }

    &-btn-started {
        padding: 16px 40px;
        background-color: $red-color;
        border: none;
        color: $white-color;
        font-size: 21px;
        font-weight: 400;
        font-family: "Bebas Neue";
        cursor: pointer;
        line-height: 24px;
    }
}